<section class="block1">
  {{> header }}
  <img class= "houses" src="../assets/images/block1.jpg" alt="">
  <div class="socials">
    <a href="youtube.com" class="you">youtube</a>
    <a href="twitter.com" class="tw">twitter</a>
    <a href="vk.com" class="vk">vk</a>
    <a href="facebook.com" class="fb">fb</a>
  </div>
  <div class="the__best">
    <p>Входим в топ-5 провайдеров региона</p>
    <h1>Надежный провайдер<br>
      домашнего интернета<br> и ТВ<span> в Подмосковье </span></h1>
  </div>
  <div class="adv">
    <div class="adv1">
      <h3>До 500 Мбит/c</h3>
      <p>Высокая скорость<br> по технологии GPON</p>
    </div>
    <div class="adv2">
      <h3>Скидка 45%<br> весь январь</h3>
      <p>Для новых<br> абонентов Rezolut</p>
    </div>
  </div>
</section>